body {
    display: flex;
    justify-content: center;
    margin-top: 150px;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 70%;
    gap: 3%;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    aspect-ratio: 1.3;
    border: 2px solid black;
    border-radius: 10px;

}
img {
    width: 70%;
}
.active {
    color: orange
}